body{
  text-align: center;
}

.choice_button{
height: 100px;
width: 100px;
border: none;
margin: 10px;
background-color: rgb(128, 232, 128);
border-radius: 50px;
cursor: pointer;
}
.choice_image{
  height: 75px;

}